<%- include("header") %> 
<%- include("navbar",{page_num:3}) %>

<div class="dashboard-heading">CLAIM YOUR ITEMS !</div>
<div class="dashboard-subheading">The deadlines for the following items are met, and you are the higest bidder!</div>

    <% if (cardsToClaim.length == 0) { %>
        <div class="divtop shift"><div class="banner banner-red" hidden>Oops! There is nothing to display here.</div></div>
    <% } else { %>
        <div class="main-gallery" data-flickity='{ "freeScroll": true }'>
            <%- include("itemCards-toClaim",{cards: cardsToClaim}) %> 
        </div>
    <% } %> 

<div class="dashboard-heading">YOUR ITEMS ON AUCTION !</div>
<div class="dashboard-subheading">These are your items. Spread the word!</div>
    <% if (cardsUploaded.length == 0) { %>
        <div class="divtop shift"><div class="banner banner-red" hidden>Oops! There is nothing to display here.</div></div>
        <div class="dashboard-div">
            <a href="/add" class="dashboard-button">ADD AN ITEM</a>
        </div>
    <% } else { %>
        <div class="dashboard-div">
            <a href="/add" class="dashboard-button">ADD AN ITEM</a>
        </div>
        <div class="main-gallery" data-flickity='{ "freeScroll": true, "initialIndex": 1}'>
            <%- include("itemCards-uploaded",{cards: cardsUploaded}) %>
        </div>
    <% } %> 



    <script>showBody()</script>
    <script>showBanner()</script>
</body>
</html>