<%- include("header") %>
<%- include("navbar-home") %>

    <img src="/pic/Picture1.png" class="bg">
    <a href="/login" class="home-button">ENTER THE AUCTION</a>

<script>animate()</script>
</body>
</html>