<%- include("header") %> 
<%- include("navbar-home") %>

<div class="divtop">
    <% if (type=="f") { %>
        <div class="banner banner-red" hidden><%= text %></div>
    <% } else if (type=="s") { %>
        <div class="banner banner-green" hidden><%= text %></div>
    <% } %> 
</div>
<div class="theDiv">
<form class="login-form" action="/" method="post">
    <div class="login-heading"><u>LOGIN HERE</u></div>
    <div class="form-control-login">
        <label class="form-label" for="rno">NITK Roll Number</label><br>
        <input class="form-text" type="text" name="rno" id="rno" placeholder="Roll number - not case sensitive!" required autocomplete="off" autofocus>
    </div>
    <div class="form-control-login">
        <label class="form-label" for="pwd">Password</label><br>
        <input class="form-text" type="password" name="pwd" id="pwd" placeholder="Password" required autocomplete="off">
    </div>
    <button class="login-button" type="submit" name="btn" value="login">Login Now</button>
</form>

<form action="/" method="post">
    <div class="signup-form">
        <div class="login-heading"><u>SIGNUP HERE</u></div>
        <div class="form-control-signup">
            <label class="form-label" for="name">NITK Roll Number</label><br>
            <input class="form-text" type="text" name="rno" id="rno" placeholder="8 Character Roll Number" required autocomplete="off">
        </div>
        <div class="form-control-signup">
            <label class="form-label" for="name">Your Name</label><br>
            <input class="form-text" type="text" name="name" id="name" placeholder="Display Name" required autocomplete="off">
        </div>
        <div class="form-control-signup">
            <label class="form-label" for="password">Password</label><br>
            <input class="form-text" type="password" name="pwd" id="pwd" placeholder="This data is encrypted on server!" required autocomplete="off">
        </div>
        <div class="form-control-signup">
            <label class="form-label" for="pno">Contact Phone Number</label><br>
            <input class="form-text" type="number" name="pno" id="pno" placeholder="phone_number" required autocomplete="off">
        </div>
        <button class="signup-button" type="submit" name="btn" value="submit">Signup Now</button>
    </div>
</form>
</div>

<% if (type!="n")  { %>
    <script>showBody()</script>
    <script>showBanner()</script>
<% } else {%> 
    <script>animate()</script>
<% } %> 
</body>
</html>