body {
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

.navbar-i {
    padding-left: 1.2rem;
    padding-right: 0rem;
}

.profile {
    position: absolute;
    z-index: 5;
    top: 8%;
    width: 10%;
    left: 89.2%;
    box-shadow: 0rem 0.125rem 0.75rem 0rem grey;
    background-color: rgb(255,255,255);
    padding: 0%;
    border-radius: 0.5rem;
}

.profile-text {
    margin: 6% 6% 1% 6%;
    font-size: 120%;
    text-align: center;
    font-weight: 500;
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

.profile-link {
    padding-top: 5%;
    margin-top: 7%;
    padding-bottom: 7%;
    display: inline-block;
    width: 100%;
    font-size: 130%;
    text-align: center;
    font-weight: 600;
    border-top: 2px solid rgb(46, 117, 182);
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    color: rgb(46, 117, 182);
    background-color: rgb(250, 250, 250);
    text-decoration: none;
}

.bg {
    width: 100%;
    height: 107%;
    position: fixed;
    z-index: -3;
    top: -7%;
    left: 0;
}

.opacity-8 {
    opacity: 0.8;
}

.home-button {
    position: absolute;
    background-color: rgba(22, 83, 141, 0.7);
    border: none;
    border-radius: 1rem;
    padding: 1%;
    width: 18%;
    top: 87%;
    color: white;
    text-decoration: none;
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    text-align: center;
    margin-left: 40%;
    font-size: 150%;
}

.navbar {
    margin-left: -10%;
    margin-top: -1%;
    width: 107.3%;
    box-shadow: 0rem 0.125rem 1.25rem 0rem grey;
    background-color: rgb(250, 250, 250);
    padding: 1.5%;
    z-index: 2;
}

.navbar-home-heading {
    font-family: "Adobe Garamond Pro", Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    text-align: center;
    margin-left: 10%;
    font-size: 2.5rem;
    font-weight: 600;
    padding-top: 0.7%;
}

.navbar-heading {
    display: inline-block;
    font-family: "Adobe Garamond Pro", Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    text-align: left;
    font-size: xx-large;
    margin-left: 11%;
    font-weight: 600;
    padding-top: 0.6%;
}

.navbar-links {
    float: right;
    text-align: right;
    font-size: x-large;
    margin-right: 2%;
    font-weight: 500;
    padding-top: 0.9%;
}

.navbar-link {
    color: rgb(127, 127, 127);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-decoration: none;
}

.item-card-login {
    display: inline-block;
    position: absolute;
    background-color: rgb(250, 250, 250);
    border: 0.156rem solid rgb(46, 117, 182);
    border-radius: 0.625rem;
    padding: 2%;
    width: 13%;
    margin-left: 2%;
    min-height: 31.25rem;
}

.item-card {
    background-color: rgb(250, 250, 250);
    border: 0.156rem solid rgb(46, 117, 182);
    border-radius: 0.625rem;
    padding: 2% 2% 1% 2%;
    width: 15%;
    margin: 1%;
    display: inline-block;
}

.item-card-heading {
    font-weight: 500;
    font-size: 1.7rem;
    margin-bottom: 1.25rem;
    text-align: left;
    padding-left: 0.313rem;
}

.item-card-image {
    border: 0.2rem solid rgb(46, 117, 182);
    border-radius: 0.313rem;
    margin-bottom: -3.75rem;
    width: 100%;
    padding-top: 125%;
    padding-left: -1%;
    overflow: hidden;
    border-radius: 1.875rem;
    display: inline-block;
    
    max-height: 1rem;
}

.item-card-picture {
    margin-top: -125%;
    object-fit: contain;
}

.item-card-button {
    border-radius: 2.5rem;
    background-color: rgb(46, 117, 182);
    margin-bottom: 3.125rem;
    outline: none;
    padding: 1.25rem;
    width: 101.5%;
    text-align: center;
    color: white;
    border: none;
    font-weight: 500;
    font-size: large;
}

.item-card-button-logo {
    display: block;
    text-align: right;
    margin-left: 85%;
    font-weight: 500;
    font-size: xx-large;
    color: white;
    margin-top: -6.25rem;
    margin-bottom: 3.125rem;
    z-index: 2;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

.item-card-text {
    text-align: justify;
    margin-top: -3.125rem;
    padding: 0.313rem;
    font-size: 130%;
    word-wrap: break-word;
}

.item-card-link {
    display: block;
    text-align: left;
    font-size: large;
    font-weight: 600;
    color: rgb(46, 117, 182);
    cursor: pointer;
}

.item-card-link:hover,
.item-card-link:visited {
    color: rgb(22, 84, 141);
}

.item-card-link-back {
    display: block;
    text-align: left;
    font-size: large;
    font-weight: 600;
    margin-top: -1.063rem;
    padding-left: 0.313rem;
    margin-bottom: 1.375rem;
    color: rgb(46, 117, 182);
    cursor: pointer;
}

.item-card-link-back:hover,
.item-card-link-back:visited {
    color: rgb(22, 84, 141);
}

.form-label {
    font-size: x-large;
    padding-left: 0.313rem;
    font-weight: 500;
}

.form-text {
    font-size: large;
    font-weight: 100;
    padding: 0.625rem;
    width: 95%;
    border: 0.125rem solid rgb(46, 117, 182);
    border-radius: 0.5rem;
    outline: none;
    margin-top: 0.313rem;
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

.form-textarea {
    font-size: large;
    padding: 0.625rem;
    width: 95%;
    border-radius: 1.25rem;
    border: 0.125rem solid rgb(46, 117, 182);
    outline: none;
    margin-top: 0.313rem;
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

.form-text:hover,
.form-text:active,
.form-text:focus,
.form-textarea:hover,
.form-textarea:active,
.form-textarea:focus {
    border: 0.188rem solid rgb(22, 84, 141);
    padding: 0.563rem;
    outline: none;
}

.form-button {
    border-radius: 1.25rem;
    vertical-align: top;
    background-color: rgb(46, 117, 182);
    outline: none;
    padding: 1.25rem;
    color: white;
    border: none;
    font-weight: 500;
    font-size: large;
    width: 102%;
    margin-top: 0.938rem;
}

.form-button:hover,
.form-button:active {
    background-color: rgb(22, 84, 141);
}

.form-control {
    width: 45%;
    display: inline-block;
    margin: 1%;
    padding: 1%;
}

.form-controlx {
    width: 97%;
    display: inline-block;
    margin: 1%;
    padding: 1%;
}

.col2 {
    display: inline-block;
    margin: 0% 28% 5% 28%;
    width: 40%;
    padding-right: 2%;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    min-height: 31.25rem;
}

i {
    padding-right: 1.875rem;
    margin-left: -1.25rem;
}

.red {
    background-color: rgb(241, 41, 41);
}

.red:hover,
.red:active {
    background-color: rgb(177, 26, 26);
}

form {
    display: inline;
}

.login-form {
    background-color: rgb(250, 250, 250);
    border: 0.156rem solid rgb(46, 117, 182);
    border-radius: 0.625rem;
    padding: 3.5%;
    width: 17%;
    margin: 1% 1% 1% 9%;
    float: left;
}

.login-heading {
    text-align: center;
    font-weight: 600;
    font-family: "Adobe Garamond Pro", Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    margin-bottom: 1.875rem;
    font-size: xx-large;
}

.login-button {
    font-size: x-large;
    font-weight: 500;
    padding: 0.75rem;
    width: 102%;
    background-color: rgb(56, 132, 202);
    border: 0.125rem solid rgb(56, 132, 202);
    color: white;
    border-radius: 0.938rem;
    outline: none;
    margin-top: 1.875rem;
}

.login-button:hover,
.login-button:active {
    background-color: rgb(22, 84, 141);
    border: 0.125rem solid rgb(22, 84, 141);
}

.form-control-login {
    width: 94%;
    display: inline-block;
    margin: 4.9% 2%;
    padding: 1%;
}

.signup-form {
    background-color: rgb(250, 250, 250);
    border: 0.156rem solid rgb(46, 117, 182);
    border-radius: 0.625rem;
    padding: 3.5% 2.5%;
    width: 46%;
    margin: 1% 7% 1% 1%;
    float: right;
}

.form-control-signup {
    width: 45%;
    display: inline-block;
    margin: 1%;
    padding: 1%;
}

.form-file {
    position: absolute;
    z-index: -1;
    margin-top: 0.625rem;
    margin-left: 0.063rem;
    font-size: 115%;
    opacity: 0;
    padding: 1% 0rem;
}

.signup-button {
    margin-left: 24.5%;
    font-size: x-large;
    font-weight: 500;
    padding: 0.75rem;
    width: 51%;
    background-color: rgb(56, 132, 202);
    border: 0.125rem solid rgb(56, 132, 202);
    color: white;
    border-radius: 0.938rem;
    outline: none;
    margin-top: 1.875rem;
}

.signup-button:hover,
.signup-button:active {
    background-color: rgb(22, 84, 141);
    border: 0.125rem solid rgb(22, 84, 141);
}

.divtop {
    width: 100%;
    height: 6.875rem;
    vertical-align: middle;
}

.banner {
    width: 40%;
    margin-left: 30%;
    padding: 1%;
    font-size: x-large;
    text-align: center;
    z-index: -1;
}

.banner-red {
    background-color: rgb(255, 209, 209);
    border-bottom: 0.313rem solid red;
}

.banner-green {
    background-color: rgb(222, 253, 214);
    border-bottom: 0.313rem solid green;
}

.align-left {
    text-align: left;
}

.image-bidding {
    position: absolute;
}

.button-bidding {
    position: relative;
    height: 20.625rem;
    opacity: 90%;
}

.item-form-text {
    outline: none;
    font-size: medium;
    font-weight: 100;
    padding: 0.625rem;
    width: 93%;
    border: 0.063rem solid rgb(46, 117, 182);
    border-radius: 0.5rem;
    margin-top: 0.313rem;
    font-family: "Calibri";

}

.item-form-text:hover,
.item-form-text:active,
.item-form-text:focus {
    border: 0.125rem solid rgb(22, 84, 141);
    padding: 0.563rem;
    outline: none;
}

.item-form-button {
    font-size: large;
    font-weight: 500;
    padding: 0.75rem;
    width: 102%;
    background-color: rgb(56, 132, 202);
    border: 0.125rem solid rgb(56, 132, 202);
    color: white;
    border-radius: 0.938rem;
    outline: none;
    margin-top: 1.875rem;
    margin-bottom: 0.125rem;
}

.item-form-label {
    font-size: large;
    padding-left: 0.313rem;
    font-weight: 500;
}

.item-card-button-claim {
    border-radius: 2.5rem;
    background-color: rgb(46, 117, 182);
    margin-bottom: 3.125rem;
    outline: none;
    padding: 1.25rem;
    width: 101.5%;
    text-align: center;
    color: white;
    border: none;
    font-weight: 500;
    font-size: large;
    cursor: pointer;
}

.dashboard-heading {
    font-family: "Adobe Garamond Pro", Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    text-align: center;
    font-size: 200%;
    margin-top: 3.125rem;
    margin-bottom: 1.25rem;
    font-weight: 600;
    padding-top: 0.6%;
}

.dashboard-subheading {
    color: rgb(140, 140, 140);
    font-size: x-large;
    margin-bottom: 3.125rem;
    text-decoration: none;
    text-align: center;
}

.main-gallery {
    height: 43.75rem;
    margin-bottom: 6.25rem;
}

.left {
    padding-left: 12%;
    padding-right: 0%;
}

.shift {
    display: block;
}

.stupid {
    margin-bottom: 13.25%;
}

.flickity-page-dots {
    display: none;
}

.dashboard-div {
    align-content: center;
    margin-top: -1%;
    margin-bottom: 1%;
}

.dashboard-button {
    border-radius: 1.25rem;
    background-color: rgb(46, 117, 182);
    outline: none;
    padding: 0.8% 1% 1% 1%;
    color: white;
    border: none;
    font-weight: 500;
    font-size: x-large;
    width: 10%;
    margin-left: 44%;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.dashboard-button:hover,
.dashboard-button:active {
    background-color: rgb(22, 84, 141);
}

@media only screen and (max-width: 1700px) {
    .item-card {
        width: 18%;
    }

    .item-card-image {
        padding-top: 100%;
    }

    .item-card-picture {
        margin-top: -130%;
    }

    .item-card-button {
        font-size: small;
    }

    .item-card-button-logo {
        font-size: x-large;
    }

    .item-card-text,
    .item-card-link {
        font-size: 110%;
    }

    .form-text,
    .form-textarea,
    .form-button,
    .item-form-button {
        font-size: medium;
    }

    .form-label {
        font-size: large;
    }

    .item-form-button {
        margin-top: 1rem;
    }

    .item-card-link-back {
        margin-bottom: 0.675rem;
    }

    .dashboard-button {
        width: 15%;
        margin-left: 41.5%;
    }

}

.fade-in {
    animation: fadeIn ease 0.2s;
    -webkit-animation: fadeIn ease 0.2s;
    -moz-animation: fadeIn ease 0.2s;
    -o-animation: fadeIn ease 0.2s;
    -ms-animation: fadeIn ease 0.2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.special-div {
    margin-top: 0.5rem;
}